*{
padding:0;
margin:0;
font-family: Roboto;
}
.master{
  font-size:Roboto;
  background-color:#ececec;
  width:100%;
  padding-top:20px;
}
.titlww{
  font-size: 40px;
}
.hoteles{
  text-decoration:none;
}


a:link {
    text-decoration: none;
    color:#000;
    font-size: 20px;
}

a:visited {
    text-decoration: none;
        color:#000;
            font-size: 20px;
}

a:hover {
    text-decoration: none;
        color:#000;
            font-size: 20px;
}

a:active {
    text-decoration: none;
        color:#000;
            font-size: 20px;
}



.intro{
  width:90%;
background-color:#ffffff;
border-top: 10px solid #123c69;
border-bottom: 10px solid #2c3531;
}
.prg {
  color:#17252a;
}
.introo{
  width:90%;
background-color:#ffffff;
border-top: 10px solid #123c69;
border-bottom: 10px solid #2c3531;
}
.introoo{
  width:90%;
background-color:#ffffff;
border-top: 10px solid #123c69;
border-bottom: 10px solid #2c3531;
}
.introooo{
  width:90%;
background-color:#ffffff;
border-top: 10px solid #123c69;
border-bottom: 10px solid #2c3531;
}
.as{
  text-align: justify;
}
.spacer{
  height:100px;
}
.valores{
  padding:5px;
  background-color: red;
  color:#000;
  font-size: 20px;
}
.valoress{
  padding:25px;
  background-color:#f5f5d5;
  color:#000;
  font-size: 17px;
}
.ses{
  color:#fc4445;
}
.logos{
  background-color:#ffffff;
  width:100%;
}
img{
  width:100%;
  padding-bottom:40px;
}
.padd{
  padding:60px;
}
.button {
    display: inline-block;
    border:2px solid black;
    padding: 1rem 70px;
    margin: 0;
    text-decoration: none;
    background: #f2f2f2;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button:hover,
.button:focus {
    background: #fc4445;
}

.button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.button:active {
    transform: scale(0.99);
}
.map{
  max-width:600px;
  max-height:600px;
  border:5px solid #557a95;
}
